table { 
	width: 950px!important;  
	margin:50px auto;
	background-color: rgba(236, 235, 245, 0.959);
	}
thead{ 
	background-color: #243ed1; 
	color: white; 
	font-weight: bold; 
	}

td { 
	padding: 10px; 
	text-align: left; 
	font-size: 18px;
	}
body{
	height:auto;
	width: 100%;
	background-image: linear-gradient(180deg,#63aff7d3,#8328fba4);
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
  }
