body{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(155deg,#07bef593,#fc99f7c5);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
  }
  /* select{
    width:300px;
  } */
  input{
      width: 95%;
      padding: 10px;
      margin:2px auto!important;
      border-radius: 15px;
      border:2px solid blue;
      background-color: whitesmoke;
  }
  .formclass{
    margin: 10px auto 10px auto;
    background-color: rgb(36, 68, 211);
    max-width:fit-content;
    width:350px!important;
    max-height: fit-content;
    border-radius: 15px;
    padding:0 0 50px 0 !important;
}
#form{
  padding: 25px 25px 0px 25px!important;
  
}
.formclass h1{
    background-color:rgb(12, 5, 102);
    text-align: center;
    color: white;
    font-size:x-large;
    padding:15px;
    height: 50px;
    border-radius: 15px 15px 0 0;
}
#btn{
    font-size: larger;
    width: 110px;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    background-image: linear-gradient(180deg,#27db27e7 60%,#119e11 35%);
    color: rgb(255, 255, 255);
    padding: 5px;
}
#btn-yellow{
  font-size: larger;
  width: 110px;
  height: 45px;
  margin: 15px;
  border-radius: 10px;
  background-image: linear-gradient(180deg,#ffee06fd 60%,#ff9a02 35%);
  color: rgb(252, 2, 2);
  padding: 5px;
}

  #lol{
      float: right;
      padding: auto;
  }
 .formclass select{
    margin-left:2px; 
    max-width:fit-content;
    width:120px
  }
#align-center
{
  text-align: center;
}
.td{
color: cornsilk;
align-items: center;
}
